[data-custom-class="body"].svelte-1xhxrlv,
[data-custom-class="body"].svelte-1xhxrlv :where(.svelte-1xhxrlv) {
  background: transparent !important;
}
[data-custom-class="title"].svelte-1xhxrlv,
[data-custom-class="title"].svelte-1xhxrlv :where(.svelte-1xhxrlv) {
  font-family: Arial !important;
  font-size: 26px !important;
  color: #000 !important;
}
[data-custom-class="subtitle"].svelte-1xhxrlv,
[data-custom-class="subtitle"].svelte-1xhxrlv :where(.svelte-1xhxrlv) {
  font-family: Arial !important;
  color: #595959 !important;
  font-size: 14px !important;
}
[data-custom-class="heading_1"].svelte-1xhxrlv,
[data-custom-class="heading_1"].svelte-1xhxrlv :where(.svelte-1xhxrlv) {
  font-family: Arial !important;
  font-size: 19px !important;
  color: #000 !important;
}
[data-custom-class="heading_2"].svelte-1xhxrlv,
[data-custom-class="heading_2"].svelte-1xhxrlv :where(.svelte-1xhxrlv) {
  font-family: Arial !important;
  font-size: 17px !important;
  color: #000 !important;
}
[data-custom-class="body_text"].svelte-1xhxrlv,
[data-custom-class="body_text"].svelte-1xhxrlv :where(.svelte-1xhxrlv) {
  color: #595959 !important;
  font-size: 14px !important;
  font-family: Arial !important;
}
[data-custom-class="link"].svelte-1xhxrlv,
[data-custom-class="link"].svelte-1xhxrlv :where(.svelte-1xhxrlv) {
  color: #3030f1 !important;
  font-size: 14px !important;
  font-family: Arial !important;
  word-break: break-word !important;
}
